<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>v-for实例</title>
    <script src="../assets/js/vue.js"></script>
  </head>
  <body>
    <h1>v-for实例</h1>
    <hr />
    <div id="app">
      <ul>
        <li v-for="item in sortItems">{{ item }}</li>
      </ul>
      <li v-for="student in sortStudent">
        {{ student.name }} - {{ student.age }}
      </li>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          items: [20, 23, 18, 65, 32, 19, 54, 56, 41],
          students: [
            { name: "Ashin", age: 32 },
            { name: "luo", age: 30 },
            { name: "luoluo", age: 21 },
            { name: "ya", age: 45 }
          ]
        },
        computed: {
        //   vue低版本中 data里面的items和computed里面可以一样，但是高版本，是不允许相同名称
          sortItems: function() {
            return this.items.sort(sortNumber);
          },
          sortStudent: function() {
            return sortByKey(this.students, "age");
          }
        }
      });
      //数组方法排序:
      function sortNumber(a, b) {
        return a - b;
      }

      //数组对象方法排序:
      function sortByKey(array, key) {
        return array.sort(function(a, b) {
          var x = a[key];
          var y = b[key];
          return x < y ? -1 : x > y ? 1 : 0;
        });
      }
    </script>
  </body>
</html>
